/**************************\
  Modal Board & Tiles
\**************************/

.modal__content span.present,
.modal__content span.correct {
	display: inline-block;
	margin-bottom: 2px;
	padding: 1px 4px;
	border-radius: 3px;
	font-weight: 500;
	color: #000;
}

.modal__content .middle {
	margin: 2rem 0;
}

.modal__content .row {
	max-width: 375px;
	justify-items: start;
}

@media screen and (max-width: 460px) {
	.modal__content .tile {
		width: 3.5rem;
		height: 3.5rem;
		line-height: 3.5rem;
	}
}

.modal__content a {
	color: #fff;
	outline: none;
}

.modal__content .tile {
	text-align: center;
	border: 1px solid black;
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
	z-index: 10;
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.75);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.modal__container {
	background-color: rgb(18, 18, 19);
	border: 1px solid #3a3a3c;
	padding: 20px;
	width: 95%;
	max-width: 412px;
	max-height: 100vh;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box;
	z-index: 10;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 23px 0px;
	text-align: left;
	position: relative;
}

.modal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal__title {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.25;
	color: #00449e;
	box-sizing: border-box;
}

.modal__close {
	background: transparent;
	border: 0;
	position: absolute;
	right: 1rem;
	top: 1rem;
	cursor: pointer;
}

.modal__close:before {
	font-size: 1rem;
	color: rgb(215, 218, 220);
	content: "\2715";
}

.modal__content {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	line-height: 1.5;
	color: rgb(215, 218, 220);
}

.modal__content p:last-child {
	margin-bottom: 0;
}

.modal__btn {
	font-size: 0.875rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	border-radius: 0.25rem;
	border-style: none;
	border-width: 0;
	cursor: pointer;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	line-height: 1.15;
	margin: 0;
	will-change: transform;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: -webkit-transform 0.25s ease-out;
	transition: transform 0.25s ease-out;
	transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.modal__btn-primary {
	background-color: #00449e;
	color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes mmfadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes mmslideIn {
	from {
		transform: translateY(15%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes mmslideOut {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-10%);
	}
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn 0.25s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn 0.25s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut 0.25s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut 0.25s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}
